body{
    margin: 0px;
    height: 100%;
    background-color: rgb(14,14,14);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width:320){
img{
    width: 320;
    height: 210px;
    overflow: hidden;
}
}
    
@media screen and (max-width:1024){
    img{
        width: 1024;
        height: 210px;
        overflow: hidden;
    }
    }
        